.overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grow {
    transition: transform 0.3s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.carousel-inner {
    overflow: visible;
}